






body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(235, 235, 235);
    
}


#Task1 {
    color: rgb(0, 0, 0);
    width:68%; /* change this for your desired width */
    padding: auto;
    margin: auto;
    margin-bottom: 50px;
    background: rgba(255, 6, 6, 0.5); /* rgba(): rgb is the color ( red, green, blue) and the "a" is for alpha ( transparency ) */
    height: 60px; /* change this for your custom height  */
    display: flex;
    justify-content: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px

    
    
   
    
    
       
    
}





#GGame {
    color: coral;
    background-color: brown;

}

.parent1 {
    display: flex;
    justify-content: center;
}

.child {
    border: 2px solid black;
  }

#NAve {
    color: rgb(255, 140, 0);
    color: rgb(55, 0, 255);
    width:68%; /* change this for your desired width */
    padding: auto;
    margin: auto;
    margin-bottom: 50px;
      height: 60px; /* change this for your custom height  */
}
.parent3 {
    background: hsl(189, 90%, 45%);
    height: 60vh;
    display: flex;
   place-content:center;
    -moz-border-radius: 500px;
    -webkit-border-radius: 50px;
    border-radius: 50px

  }
  background-image: url('images/шь.webp);
  
 
  


  
